<section class="produtos">

    <item-produto 
            titulo="O livro do Amor"
            descricao="Amar ou Matar? Descrevendo as desavenças"
            preco="199.50"
            (eventoComprarItem)="adicionarItem($event)"
            (eventoCancelarItem)="excluirItem($event)">
    </item-produto>

    <item-produto 
            titulo="Um amor para recordar"
            descricao="Uma história impressionante de morte"
            preco="55.10"
            (eventoComprarItem)="adicionarItem($event)"
            (eventoCancelarItem)="excluirItem($event)">
    </item-produto>

    <item-produto 
            titulo="O livro do Amor"
            descricao="Amar ou Matar? Descrevendo as desavenças"
            preco="199.50"
            (eventoComprarItem)="adicionarItem($event)"
            (eventoCancelarItem)="excluirItem($event)">
    </item-produto>

</section>