<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/reset_erick_meyer.css" />
    <link rel="stylesheet" href="style/principal.css">

    <title>livraria</title>
</head>
<body>
    
    <header>
        <h1>Folhetim das Compras Sábias</h1>
        <div class="carrinho">
            <span>Itens adicionados: </span>
            <span class="total-itens">20</span>
        </div>
    </header>

    <section class="produtos">

        <div class="item">
            <img class="item-foto" src="images/livro-modelo.png" alt="foto do produto"/>
            <span class="item-titulo">Um amor para Recordar</span>
            <span class="item-descricao">Um romance inesquecível</span>
            <span class="item-preco">R$ 23,50</span>
            <button class="item-botao-cancelar">Cancelar</button>
            <button class="item-botao-comprar">Comprar</button>
        </div>

        <div class="item">
            <img class="item-foto" src="images/livro-modelo.png" alt="foto do produto" />
            <span class="item-titulo">Um amor para Recordar</span>
            <span class="item-descricao">Um romance inesquecível</span>
            <span class="item-preco">R$ 23,50</span>
            <button class="item-botao-cancelar">Cancelar</button>
            <button class="item-botao-comprar">Comprar</button>
        </div>

        <div class="item">
            <img class="item-foto" src="images/livro-modelo.png" alt="foto do produto" />
            <span class="item-titulo">Um amor para Recordar</span>
            <span class="item-descricao">Um romance inesquecível</span>
            <span class="item-preco">R$ 23,50</span>
            <button class="item-botao-cancelar">Cancelar</button>
            <button class="item-botao-comprar">Comprar</button>
        </div>

    </section>

    <footer class="pagamentos">
        <p>Valor a ser pago</p>
        <span class="total">R$ 1305,02</span>
        <button>Pagar</button>
    </footer>
</body>
</html>