
.pagamentos {
    margin-top: 30px;
    text-align: center;
}

.pagamentos p {
    margin: 10px 0pc;
}

.total {
    display: block;

    margin-bottom: 10px;

    font-size: 1.3em;
    font-weight: bold;
}